.container{
    padding: 5vh 0;
}
#messagebox{
    position: relative;
    width: 50%;
    text-align: center;
    color: var(--white);
    height: 0;
    line-height: 4rem;
    margin-bottom: 1rem;
    border-radius: var(--border-rad);
}
#messagebox.error{
    height: 4rem;
    background-color: rgb(207, 44, 44);
}
#messagebox.correct{
    height: 4rem;
    background-color: rgb(44, 207, 79);
}

.buttonarea{
    position: relative;
    width: 50%;
    justify-content: center;
}
.buttonarea button{
    cursor: pointer;
    background-color: var(--light-gray);
    border-radius: var(--border-rad);
    border: 0;
    width: 50%;
    opacity: 1;
    transition: 0.5s;
    height: 5vh;
    overflow: hidden;
    z-index: 2;
}
.buttonarea button.active{
    padding: 0;
    opacity: 0;
    font-size: 0;
    background-color: var(--blue);
    z-index: 1;
}
.accountbox{
    position: relative;
    width: 50%;
    justify-self: center;
    height: 100%;
    background-color: var(--light-gray);
    border-radius: var(--border-rad);
}

#inputarea{
    padding: 5%;
}
#login{
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin-bottom: 5vh;
}
#register{
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin-bottom: 5vh;
}
input{
    height: 3rem;
    border: none;
    margin: 1rem 0;
    padding-left: 3rem;
    border-radius: var(--border-rad);
}
#register input{
    margin: 0.5rem 0;
}

#loginButton, #registerButton{
    align-self: center;
    display: none;
    width: calc(100% - 10rem);
    bottom: 5vh;
}

#loginButton.active, #registerButton.active{
    display: unset;
}

button{
    background-color: var(--blue);
    border: 0;
    height: 5vh;
    border-radius: var(--border-rad);
    cursor: pointer;
}