html {
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

:root {
    --dark-gray: #3c3e46;
    --backgrond: #25272e;
    --gray: #56575f;
    --light-gray: #c8cacf;
    --artist-text: #202020;
    --blue:#5a83dd;
    --blue-hover: #5475bd;
    --white:#ececec;
    --border-rad:clamp(10px,30px,5vw);
    --min-width:320px;
}

body {
    width: 100vw;
    font-family: "Noto Sans TC","Noto Sans JP", serif;
    background-color: var(--backgrond);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html, body {
    overflow-x: hidden; /* 隱藏水平捲軸 */
}

p{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,ol,ul{
    margin: 0;
}

/*---------------------頁首&nav區域-------------------------*/
header{
    width: clamp(10px, 1200px, 100vw);
    display: flex;
    position: relative;
}
header .logoimg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh 0;
    margin-top: 3vh;
    position: relative;
    width: 15%;
    transition: 0.3s ease;
    border-radius: var(--border-rad);
}

header .logoimg:hover{
    background-color: var(--gray);
}

.logoimg img{
    width: 90%;
    justify-self: center;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* 初始為隱藏 */
    background-color: var(--light-gray);
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: var(--border-rad);
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
    z-index: 5;
    opacity: 0.8;
}

#back-to-top img{
    width: 4vh;
}

#back-to-top:hover {
    box-shadow: 0px 5px 0 var(--blue);
}

nav{
    position: relative;
    margin-top: 2.5vh;
    margin-left: 2vw;
    align-self: center;
    width: 80%;
    height: 7vh;
    max-height: 60px;
    display: flex;
    align-items: center;
}

nav ul{
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: var(--white);
}

nav li{
    position: relative;
    padding: 0 1vw;
    width: 6rem;
    white-space: nowrap;
    list-style-type: none;
    font-weight: 600;
    font-size: 1.2rem;
    transition: 0.5s;
    overflow: hidden;
    text-align: center;
    line-height: 2.8rem;
}

nav li::after {
    content: ''; /* 生成伪元素 */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; /* 初始宽度为0 */
    height: 0.3rem; /* 下边框的高度 */
    background-color: var(--blue); /* 下边框的颜色 */
    transition: width 0.5s; /* 控制宽度的过渡效果 */
}

nav li:hover::after {
    width: 100%;
}

#hamburger-btn{
    margin-top: 3vh;
    padding: 0;
    background-color: transparent;
    border: none;
    height: 4rem;
    position: absolute;
    right: 0;
    z-index: 1;
}

#hamburger-btn img{
    height: 100%;
}

#hamburger-btn-close{
    position: absolute;
    top: 3vh;
    height: 4rem;
    padding: 0;
    border: 0;
    background: transparent;
}

#hamburger-btn-close img{
    height: 100%;
}

#hamberger-nav{
    position: fixed;
    overflow: hidden;
    width: 0;
    top: 0;
    right: 0;
    padding: 10vh 0 0 0;
    height: 100vh;
    z-index: 2;
    background-color: var(--artist-text);
    opacity: 80%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hamberger-nav ul{
    position: absolute;
    top: calc(5vh + 5rem);
    margin: 0;
    padding: 0;
}

#hamberger-nav a{
    text-decoration: none;
    color: var(--white);
}

#hamberger-nav li{
    position: relative;
    padding: 0 1vw;
    width: 0rem;
    list-style-type: none;
    font-weight: 600;
    font-size: 1.2rem;
    transition: 0.5s;
    overflow: hidden;
    text-align: center;
    line-height: 2.8rem;
    white-space: nowrap;
    opacity: 0;
}

#hamberger-nav li::after {
    content: ''; /* 生成伪元素 */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; /* 初始宽度为0 */
    height: 0.3rem; /* 下边框的高度 */
    background-color: var(--blue); /* 下边框的颜色 */
    transition: width 0.5s; /* 控制宽度的过渡效果 */
}

#hamberger-nav li:hover::after {
    width: 100%;
}

#hamberger-nav.active{
    width: 15%;
    overflow:unset;
    padding-right: 5vw;
}

#hamberger-nav.active li{
    width: 5rem;
    opacity: 1;
}

body .container{
    margin: 2vh 0;
    width: clamp(10px, 1200px, 100%);
    display: flex; /* 设置为 Flexbox */
    flex-direction: column;
    justify-self: center;
    align-items: center;
    height: 100%; /* 使容器高度为视口高度 */
    background-color: var(--gray); 
    border-radius: var(--border-rad);
}

main{
    width: 100%;
}
/*-------------------頁首&nav區域-----------------------*/
/*---------------------頁尾區域-------------------------*/
footer{
    background-color: var(--backgrond);
    width: 100vw;
    padding: 5vh 0;
}

footer .footer-box{
    padding: 2vh 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img{
    width: clamp(40px, 40vw, 300px);
}

footer p{
    margin: 0;
    line-height: 2rem;
    color: var(--white);
}
/*---------------------頁尾區域-------------------------*/

@media screen and (max-width:1024px) {
    header,main,.container{
        width: 80vw;
    }
}

@media screen and (max-width:768px) {
    nav{
        display: none;
    }
    main,.container{
        width: 100vw;
    }
    #hamberger-nav.active{
        width: 35%;
    }
}