

/*---------------------搜尋區域-------------------------*/
.search{
    height: clamp(150px, 300px, 30vh);
    width: clamp(var(--min-width), 60vw, 80%);
    margin: 4vh 0;
    background-color: var(--dark-gray);
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: var(--border-rad);
    transition: 0.5s;
}

.search:hover{
    margin-bottom: 5vh;
    scale: 1.1;
    box-shadow: 0px 10px 0 var(--blue);
}
.searchbar{
    margin-top: 7vh;
    grid-row:1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 9vh;
}

.searchbar input{
    width: 80%;
    height: 60%;
    border: none;
    border-radius: 50px;
    padding: 0 3vh;
}

.buttonarea{
    grid-row:2/2;
    display: flex;
    justify-content: end;
    position:relative;
    right: 10%;
    max-height: 5vh;
    margin-top: 2vh;
}

.buttonarea button{
    margin-left: 2vh;
    width: clamp(100px, 15%, 20vw);
    min-height: auto;
    max-height: 4vh;
    border-radius: var(--border-rad);
    border: none;
    background-color: var(--blue);
    font-weight: 600;
    transition: 0.5s;
    color: white;
    size: 1rem;
}
.buttonarea button:hover{
    border: 2px solid white;
    width: clamp(120px, 18%, 25vw);
}
/*---------------------搜尋區域-------------------------*/
/*---------------------推薦區域-------------------------*/
.recommend {
    position: relative;
    width: clamp(var(--min-width), 60vw, 80%);
    margin: 4vh 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-gray);
    padding-bottom: 5vh;
    border-radius: var(--border-rad);
    transition: 0.5s;
}
.recommend:hover{
    margin: 3vh 0 6vh;
    scale: 1.1;
    box-shadow: 0px 10px 0 var(--blue);
}

.recommend .title{
    width: 100%;
    flex: 0;
    margin-top: 0;
    margin-bottom: 2.5vh;
    padding: 1vh;
    text-align: center;
    background-color: var(--light-gray);
}

.recommend-box{
    width: 100%;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.recommend-box button{
    background-color: var(--blue);
    border: none;
    height: 10vh;
    border-radius: var(--border-rad);
    color: white;
    font-weight: 900;
    margin: 0.25vh;
    transition: 0.5s;
}

.recommend-box button:hover{
    border: 2px solid white;
    height: 12vh;
}

.song-list {
    width: 80%;
    height: auto;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.song-list .active {
    display: flex;
    transition: 0.5s;
    flex: 1;
}

.page{
    padding: 0;
    width: calc(100% - 2.5vw);
    display: none;
}

.recommend .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.25vh;
    border-radius: calc(var(--border-rad)/2);
    background-color: var(--light-gray);
    height: clamp(200px, 20vh, 30vh);
    flex: 1;
    padding: 0.5vh;
    overflow: hidden;
    padding-bottom: 1vh;
    transition: 0.5s;
}

.recommend .card:hover{
    box-shadow: 0px 0.5vh 0 var(--blue);
}

.recommend .song-img{
    position: relative;
    top: 0;
    height: clamp(66px,100%,130px);
    width: clamp(66px,100%,130px);
}

.recommend .song-img img{ /*推薦區域圖片設定*/
    position: relative;
    right: 0;
    width: 100%;
    object-fit: cover;
    border-radius: calc(var(--border-rad)/2);
}

.recommend .song-info{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.recommend .card a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    text-align: center;
    transition: 0.5s;
}
.recommend .card a:hover{
    color: white;
    font-weight: 700;
}

.recommend .card .song-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    padding: 0 1vw;
    align-items: center;
}

.recommend.card.song-artist{
    height: 2rem;
}
.song-artist p{
    color: var(--artist-text);
    font-weight: 400;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    cursor: pointer;
}

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active{
    background-color: var(--blue);
}

/*---------------------推薦區域-------------------------*/
/*---------------------排名區域-------------------------*/
.ranking{
    margin:4vh 0;
    padding-bottom: 10vh;
    width: clamp(var(--min-width), 60vw, 80%);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: var(--border-rad);
    background-color: var(--dark-gray);
    transition: 0.5s;
}

.ranking:hover{
    margin: 12vh 0;
    scale: 1.1;
    box-shadow: 0px 10px 0 var(--blue);
}

.ranking .title{
    flex: 0;
    margin-top: 0;
    margin-bottom: 2.5vh;
    padding: 1vh;
    width: 100%;
    text-align: center;
    background-color: var(--light-gray);
}

.ranking ol{
    padding: 0;
    width: 80%;
}

.rankbox{
    position: relative;
    margin: 1vh;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 8vw;
    border-radius: var(--border-rad);
    transition: 0.5s;
}

.rankbox:hover{
    scale: 1.2;
    margin-top: 2vh;
    margin-bottom: 3vh;
    box-shadow: 0px 0.5vh 0 var(--blue);
    border-radius: calc(var(--border-rad)/2);
}

.rankbox .ranking-number{
    position: relative;
    left: 2vh;
    font-size: 1rem;
    color: var(--artist-text);
    transition: 0.5s;
    width: 2rem;
}

.rankbox .song-img{
    border-radius: calc(var(--border-rad)/2);
}

.rankbox img{
    position: relative;
    left: 3vh;
    top:0;
    height: clamp(60px,6vw,7vw);
    width: clamp(60px,6vw,7vw);
    object-fit: cover;
    transition: 0.5s;
}

.rankbox:hover img{
    scale: 1.1;
}

.rankbox .text-info{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.rankbox .song-name{
    position: relative;
    left: 5vh;
    transition: 0.5s;
    text-decoration: none;
    color: black;
    font-weight: 500;
    width: 10rem;
    font-size: 1rem;
}

.rankbox .song-name:hover{
    color: white;
}
.rankbox .song-artist{
    position: relative;
    left: 5vw;
    width: 10rem;
}
.rankbox .song-artist p{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--artist-text);
}

.rankbox:hover .ranking-number{
    color: white;
}

.rankbox:hover .rankbox:not(:hover){
    scale: 0.9;
}

.read-more{
    font-size: 1rem;
    line-height: 1rem;
    height: 5vh;
    width: 20vh;
    background-color: var(--blue);
    padding: 0 2vh;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: var(--border-rad);
    border: none;
    transition: 0.5s;
    font-weight: bold;
}

.read-more:hover{
    width: 30vh;
    border: 2px solid white;
}
/*---------------------排名區域-------------------------*/
/*-----------------------------------------------主頁內容結束--------------------------------------------------------*/

@media screen and (max-width:1100px) {
    .recommend .card .song-name{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .recommend .card .song-artist{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .search:hover{
        scale: 1;
        margin: 4vh 0;
    }
    .rankbox .ranking-number{
        display: none;
    }
    .recommend:hover{
        scale: 1;
        margin: 4vh 0;
    }
    .ranking:hover{
        scale: 1;
        margin: 4vh 0;
    }
    .ranking .text-info{
        flex-direction: column;
        overflow: hidden;
    }
    .rankbox .song-name{
        left: 7vw;
    }
    .rankbox .song-artist{
        left: 7vw;
    }
}
@media screen and (max-width:768px){
    .search{
        width: 100vw;
    }
    .recommend{
        width: 100vw;
    }
    .ranking{
        width: 100vw;
    }
    .rankbox{
        height: 10vh;
    }
    .rankbox:hover{
        scale: 1;
        margin: 1vh;
    }
    .rankbox .song-img{
        height: 100%;
        width: 10vh;
        left: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .rankbox:hover img{
        scale: 1;
    }
    .rankbox .song-name{
        left: 3vw;
    }
    .rankbox .song-artist{
        left: 3vw;
    }
    #prev-btn,#next-btn{
        display: none;
    }
}
