
/*---------------------排名區域-------------------------*/
.ranking{
    margin:5vh 0;
    padding-bottom: 10vh;
    width: clamp(400px, 60vw, 80%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    border-radius: var(--border-rad);
    background-color: var(--dark-gray);
    transition: 0.5s;
}

.ranking:hover{
    box-shadow: 0px 10px 0 var(--blue);
}

.ranking .title{
    flex: 0;
    margin-top: 0;
    margin-bottom: 2.5vh;
    padding: 1vh;
    width: 100%;
    text-align: center;
    background-color: var(--light-gray);
}

.ranking ol{
    padding: 0;
    width: 80%;
}

.rankbox{
    position: relative;
    margin: 1vh;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 8vw;
    border-radius: var(--border-rad);
    transition: 0.5s;
}

.rankbox:hover{
    scale: 1.2;
    margin-top: 2vh;
    margin-bottom: 3vh;
    box-shadow: 0px 0.5vh 0 var(--blue);
    border-radius: calc(var(--border-rad)/2);
}

.rankbox .ranking-number{
    position: relative;
    left: 2vh;
    font-size: 1rem;
    color: var(--artist-text);
    transition: 0.5s;
    width: 2rem;
}

.rankbox .song-img{
    border-radius: calc(var(--border-rad)/2);
}

.rankbox img{
    position: relative;
    left: 3vh;
    top:0;
    height: clamp(60px,6vw,7vw);
    width: clamp(60px,6vw,7vw);
    object-fit: cover;
    transition: 0.5s;
}

.rankbox:hover img{
    scale: 1.1;
}

.rankbox .text-info{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.rankbox .song-name{
    position: relative;
    left: 5vh;
    transition: 0.5s;
    text-decoration: none;
    color: black;
    font-weight: 500;
    width: 10rem;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rankbox .song-name:hover{
    color: white;
}
.rankbox .song-artist{
    position: relative;
    left: 5vw;
    width: 10rem;
}
.rankbox .song-artist p{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--artist-text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rankbox .link-item{
    position: absolute;
    right: 3vh;
    background-color: var(--blue);
    padding: 1vh 2vh;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: var(--border-rad);
    transition: 0.5s;
}

.rankbox:hover .ranking-number{
    color: white;
    font-weight: 600;
    font-size: 2rem;
}

.rankbox:hover .rankbox:not(:hover){
    scale: 0.9;
}
.rankbox:hover .link-item{
    padding: 1vh 5vh;
}
.rankbox .link-item:hover{
    border: 2px solid white;
}

.read-more{
    font-size: 1rem;
    line-height: 1rem;
    height: 5vh;
    width: 20vh;
    background-color: var(--blue);
    padding: 0 2vh;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: var(--border-rad);
    border: none;
    transition: 0.5s;
}

.read-more:hover{
    width: 30vh;
    border: 2px solid white;
}
/*---------------------排名區域-------------------------*/
/*-----------------------------------------------主頁內容結束--------------------------------------------------------*/


@media screen and (max-width:1100px) {

    .recommend:hover{
        scale: 1;
        margin: 4vh 0;
    }
    .ranking:hover{
        scale: 1;
        margin: 4vh 0;
    }
    .ranking .text-info{
        flex-direction: column;
        overflow: hidden;
    }
    .rankbox .song-name{
        left: 7vw;
    }
    .rankbox .song-artist{
        left: 7vw;
    }
}
@media screen and (max-width:768px){
    .ranking{
        width: 100vw;
    }
    .rankbox{
        height: 10vh;
    }
    .rankbox:hover{
        scale: 1;
        margin: 1vh;
    }
    .rankbox .song-img{
        height: 100%;
        width: 10vh;
        left: 3vw;
        border-radius: 0;
    }
    .rankbox:hover img{
        scale: 1;
    }
    .rankbox .song-name{
        left: 5vw;
    }
    .rankbox .song-artist{
        left: 5vw;
    }
    #prev-btn,#next-btn{
        display: none;
    }
}