.container{
    padding: 5vh 0;
}
#messagebox{
    position: relative;
    width: 50%;
    text-align: center;
    color: var(--white);
    height: 0;
    line-height: 4rem;
    margin-bottom: 1rem;
    border-radius: var(--border-rad);
}
#messagebox.error{
    height: 4rem;
    background-color: rgb(207, 44, 44);
}
#messagebox.correct{
    height: 4rem;
    background-color: rgb(38, 163, 65);
}

button{
    background-color: var(--blue);
    color: var(--white);
    border: 0;
    height: 2.5rem;
    border-radius: var(--border-rad);
    cursor: pointer;
    font-weight: 600;
}

button:active{
    transition: 0.2s;
    background-color: var(--orange);
}

.buttonarea{
    position: relative;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 20%;
}
.buttonarea button{
    position: absolute;
    cursor: pointer;
    background-color: var(--light-gray);
    color: black;
    border-radius: var(--border-rad);
    border: 0;
    width: 100%;
    opacity: 1;
    transition: 0.5s;
    overflow: hidden;
    z-index: 2;
    height: 2rem;
    font-weight: 500;
}
.buttonarea button.active{
    padding: 0;
    opacity: 0;
    font-size: 0;
    background-color: var(--orange);
    z-index: 1;
}
.accountbox{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: calc-size(auto , size + 5vh);
    justify-self: center;
    background-color: var(--light-gray);
    border-radius: var(--border-rad);
    transition: 0.5s ease-in-out;
}
.accountbox h4{
    position: absolute;
    top: 3vh;
    font-size: 1.5rem;
    align-self: center;
}

#inputarea{
    padding: 10vh 10%;
    transition: 0.5s ease-in-out;
}
#login{
    display: flex;
    flex-direction: column;
}
#register{
    display: flex;
    flex-direction: column;
}
input{
    height: 2.5rem;
    border: none;
    margin: 0.5rem 0 1rem;
    padding-left: 3rem;
    border-radius: var(--border-rad);
}

#register input{
    margin: 0.5rem 0;
}

#loginButton, #registerButton{
    display: none;
    width: 50%;
    align-self: center;
}

#loginButton.active, #registerButton.active{
    display: unset;
}

#forgetpassword{
    cursor: pointer;
    margin-top: 3rem;
}

@media screen and (max-width:768px) {
    #messagebox{
        width: 80%;
    }
    .accountbox{
        width: 80%;
    }
    input{
        padding-left: 2rem;
    }
}

@media screen and (max-width:400px) {
    #messagebox{
        width: 100%;
    }
    .accountbox{
        width: 100%;
    }
    input{
        padding-left: 1rem;
    }
}